body{
  font-family: "Helvetica Neue",Tahoma,Arial,PingFangSC-Regular,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

#reserve{
 height:240px;
}

/* 机票查询结果 */
#result{
  min-height:200px;
  width:100%;
  /* border:1px solid red; */

  display: flex;
  align-items: center;
  justify-content:center;
}
#result > div{
  width:900px;
  min-height:300px;
  border-radius: 20px;
  box-shadow: 6px 6px 4px rgba(86, 184, 241, 0.2),
    -6px -6px 4px rgba(86, 184, 241, 0.2);

  /* border:1px blue solid; */
}

/* 标题 */
#result p.result-title{
  height:40px;
  vertical-align: bottom;
}
#result p.result-title span{
  font-size:20px;
  margin:0 5px;
}
#result p.result-title strong{
  font-size:30px;
  margin:0 10px;
}

/* 排序依据选项 */
#result p.base-for-order{
  position:relative;
  width:100%;
  height:30px;
}
p.base-for-order span{
  display:block;
  margin:0 10px;
  float:right;
  cursor:hand;
}
p.base-for-order span.select{
  color:#f40;
}

/* 机票列表 */
#ticket-menu{
  width:100%;
}
#ticket-menu ul{
  padding:0;
  margin:0;
  list-style-type:none;
}
#ticket-menu ul li{
  width:100%;
  height:70px;
  padding-top:14px;
  position: relative;
  vertical-align:bottom;
  border-bottom:1px solid rgba(177, 183, 187, 0.2);
  /* background-color:rgba(255, 255, 255, 0); */
  /* overflow: hidden; */
}
#ticket-menu ul li:hover{
  border-radius: 10px;
  box-shadow:3px 3px 2px rgba(0,0,0,0.2),
        -3px -3px 2px  rgba(0,0,0,0.2);
}
#ticket-menu ul li > div{
  display: inline-block;
}
/* 一行有三列，划分所占比例 */
.start-end-time{
  width:40%;
  /* overflow: hidden; */
}
.airline{
  width:30%;
}
.price-order{
  width:28%;
}

/* 第一列，内容包括起始时间，终点时间，以及二者中间的一条线 */
.start-end-time{
  vertical-align: bottom;
}
.start-end-time > div{
  display: inline-block;
  vertical-align: top;
  width:32%;
}

.time-and-airport{
  position: relative;
  overflow: visible;
}
/* 即将起飞警告 */
.time-and-airport .warning{
  position:absolute;
  margin:-10px auto 0;
  font-size:10px;
  width:100%;
  text-align: center;
  color:#e10022;
  /* border-color: rgba(225,0,34,.8); */
}
/* 起飞时间和到达时间 */
.time-and-airport .time{
  font-size:30px;
  font-weight: normal;
  text-align: center;
}
.time-and-airport .airport{
  font-size:10px;
  text-align: center;
}
.start-end-time .time-arrow .arrow{
  height:40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-end-time .time-arrow .arrow span{
  display: inline-block;
  width:70%;
  height:5px;
  background-color:rgba(94, 117, 121,0.2);
}

/* 运营航空公司以及飞机型号 */
#ticket-menu .airline div{
  width:100%;
  text-align: center;
}
#ticket-menu .airline .airline-name{
  font-size:20px;
  margin-bottom: 5px;
}
#ticket-menu .airline .airplane-name{
  color:cadetblue;
}

/* 第三列：价格、折扣、订票按钮 */
.price-order{
  position: relative;
  vertical-align: bottom;
}
.price-order > div{
  float:right;
}
.price-order > div > div{
  display: inline-block;
}
/* 最低价格提示 */
.price-order .best-price{
  display: inline-block;
  color:#00a876;
  background-color:rgba(38,194,141,0.2);
  height:21px;
  margin:15px 2px;
  line-height:20px;

}

/* 价格和折扣设置 */
.price-discount{
  vertical-align: bottom;
}

.price-discount .price *{
  color:#f40;
}
.price-discount span{
  font-size:18px;
}
.price-discount .price strong{
  font-size:28px;
  font-weight: normal;
}
.price-discount .discount{
  text-align: center;
}

/* 订票按钮 */
.price-order .order-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height:53px;
}
.price-order .order-btn div{
  background-image: linear-gradient(90deg,#ffa50a,#f70);
  width:68px;
  height:30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border-color: #ff9913;
  color:white;
  outline:none;
  cursor:hand;
}

/* -----------中转推荐------------ */
#transfer-box{
  /* height:500px; */
  width:100%;
  /* border:1px solid blue; */

  margin-top:20px;
  
  display:flex;
  align-items:center;
  justify-content:center;
}
#transfer-box > div{
  /* height:500px; */
  width:900px;
  border-radius: 20px;
  box-shadow: 6px 6px 4px rgba(86, 184, 241, 0.2),
    -6px -6px 4px rgba(86, 184, 241, 0.2);
  /* border:1px red solid; */
}
/* 标题 */
.title{
  font-size:20px;
  height:40px;
  line-height:40px;
  font-weight:600;
  color:#333;
}

/* 中转的每一个方案，起点到中转站，再由中转站到终点站 */
#transfer-box ul{
  padding:0;
  margin:0;
  list-style-type:none;
  width:100%;
}
#transfer-box ul li{
  padding:10px 0;
  width:100%;
}
#transfer-box ul li:hover{
  border-radius: 10px;
  box-shadow:3px 3px 2px rgba(0,0,0,0.2),
        -3px -3px 2px  rgba(0,0,0,0.2); 
}
#transfer-box ul li > div{
  display:inline-block;
}

/* 缩小时间箭头的长度,拉长时间元素的占比*/
#transfer-box ul .time-arrow{
  width:20%;
}
#transfer-box ul .start-end-time{
  width:30%;
}
#transfer-box ul .time-and-airport{
  width:36%;
}

/* 中转信息 */
.juzhong{
  display: block;
  align-items: center;
  justify-content: center;
}
#transfer-box .middle-time{
  width:14%;
  height:52px;
}
#transfer-box .middle-time div{
  width:100%;
}
#transfer-box .middle-time p{
  text-align: center;
  line-height: 26px;
  height:26px;
  color:rgb(120, 127, 133);
}
#transfer-box .middle-time span{
  display: inline-block;
  width:46px;
  height:22px;
  line-height: 22px;
  border:1px solid #398efe;
  border-radius: 10px;
  color:#398efe;
}
#transfer-box .price-order{
  width:24%;
}

/* ----价格行情图----- */
#price-trend{
  width:100%;
  /* border:1px solid red; */
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#price-trend > div{
  width:900px;
  box-shadow: 6px 6px 4px rgba(86, 184, 241, 0.2),
    -6px -6px 4px rgba(86, 184, 241, 0.2);
}
#price-trend .pic-note{
  width:100%;
  /* border:1px solid blue; */
}

#price-trend .pic{
  width:100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */

}
#price-trend .pic p{
  display: block;
  height:40px;
  line-height: 40px;
  text-align: center;
  color:#2b4750;
  font-size:18px;
  font-weight:600px;
}
#price-trend .pic img{
  display: block;
  margin:0 auto;
}
